:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
}

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  color: rgb(253, 111, 16);
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(128, 128, 133, 0.8),
      rgba(44, 44, 49, 0.7)
    ),
    url(https://www.nsrikanthan.com/ddivya/img/projects/project1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  padding: 0 0.425rem;
  margin-bottom: 1.875rem;
  margin-top: 100px;
  
}

#description {
  color: #fff;
  font-size: bold;
}

.container {
  background: rgba(231, 231, 241, 0.5);
  padding: 2.5rem 0.425rem;
  border-radius: 0.25rem;
 
  margin-top: 50px;
 
}

@media(max-width: 560px){
  .container{
    max-width: 100%;
  }
}






